<div class="container mt-5">

    <%= simple_form_for(@listing) do |f| %>
    <%= f.input :title, label: "Име на продукт", placeholder: "пр.: Блуза" %>
    <%= f.input :category, label: "Категорија", placeholder: "пр.: Џемпери" %>
    <%= f.input :price, label: "Цена", placeholder: "пр.: 1000 ден" %>
    <%= f.input :size, label: "Големина", placeholder: "пр.: S/M/L/XL/XXL" %>
    <%= f.input :description, label: "Опис", placeholder: "пр.: Еднобојна, струкирана ролка во кафеава боја" %>
    <%= f.input :photo, as: :file %>
    <%= submit_tag "Креирај Оглас", class: "btn btn-lg btn-success" %>
<% end %>
</div>