      <!-- Navbar -->
  <nav class="navbar-container">
          <ul class="nav navbar">
                  <li class="nav-item"><%="Почетна"%></li>
                  <li class="nav-item"><%="За Нас"%></li>
                  <li class="nav-item active"><%="Производи"%></li>
                  <li class="nav-item"><%="Reviews"%></li>
                  <li class="nav-item"><%="Kонтакт"%></li>
          </ul>
  </nav>
