      <!-- Navbar -->
  <nav class="navbar-container">
  <nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a href="#"><li>Home</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Info</li></a>
      <a href="#"><li>Contact</li></a>
      <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>
</nav>
          <ul class="nav navbar">
                  <li class="nav-item"><%="Почетна"%></li>
                  <li class="nav-item"><%="За Нас"%></li>
                  <li class="nav-item active"><%="Производи"%></li>
                  <li class="nav-item"><%="Reviews"%></li>
                  <li class="nav-item"><%="Kонтакт"%></li>
          </ul>
  </nav>
